<style>

</style>


{% extends 'base.html' %}

{% block title %}Liste des Produits{% endblock %}

{% block content %}
    <div class="container">
        <h1>Liste des Produits</h1>
        <ul class="list-group">
            {% for produit in produits %}
                <li class="list-group-item">{{ produit.nom }} - {{ produit.prix }} FCFA</li>
            {% empty %}
                <li class="list-group-item">Aucun produit disponible.</li>
            {% endfor %}
        </ul>
        <a href="{% url 'ajouter_produit' %}" class="btn btn-primary mt-3">Ajouter un Produit</a>
    </div>
{% endblock %}
