
<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
        text-align: center;
        color: #333;
        margin-bottom: 20px;
        font-family: 'Arial', sans-serif;
    }
    
    .table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 1em;
        font-family: 'Arial', sans-serif;
    }
    
    .table th, .table td {
        padding: 12px 15px;
        border: 1px solid #ddd;
        text-align: left;
    }
    
    .table thead th {
        background-color: #007bff;
        color: white;
    }
    
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    .table tbody tr:hover {
        background-color: #e9f1ff;
    }
    
    .add-category {
        display: block;
        margin: 20px 0;
        text-align: center;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 4px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .add-category:hover {
        background-color: #0056b3;
    }
    
</style>

{% extends 'base.html' %}

{% block title %}Liste des Ventes{% endblock %}

{% block content %}
    <div class="container">
        <h1>Liste des Ventes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Produits</th>
                    <th>Quantité</th>
                    <th>Montant Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vente in ventes %}
                    <tr>
                        <td>{{ vente.date_vente }}</td>
                        <td>
                            {% for produit in vente.produits.all %}
                                {{ produit.nom }},
                            {% endfor %}
                        </td>
                        <td>{{ vente.quantite }}</td>
                        <td>{{ vente.montant_total }} FCFA</td>
                        <td>
                            <a href="{% url 'Commerce:modifier_vente' vente.id %}" class="edit-category">Modifier</a>
                            <a href="{% url 'Commerce:supprimer_vente' vente.id %}" class="delete-category">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'Commerce:ajouter_vente' %}" class="add-category">Ajouter une vente</a>
    </div>
{% endblock %}
